<!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    
    <div class="container">

      <a routerLink="/home" class="logo">
        <img src="assets/images/logo_dr._café sin fondo.png" width="60" height="28" alt="Jassa home">
      </a>

      <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
        <ul class="navbar-list">

          <li class="navbar-item">
            <a routerLink="/home" class="label-lg navbar-link has-after" routerLinkActive="active">Inicio</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/service"  class="label-lg navbar-link has-after" routerLinkActive="active">Nosotros</a>
          </li>

          <li class="navbar-item">
            <a routerLink="/contact"  class="label-lg navbar-link has-after" routerLinkActive="active">Contactanos</a>
          </li>

        </ul>
      </nav>

      <a routerLink="/login" class="btn btn-primary">Iniciar Sesion</a>

      <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler (click)="addToggle()">
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>
  </header>
<main>
    <article>

      <!-- 
        - #CONTACT
      -->

      <section class="section contact has-bg-image" aria-labelledby="contact-label"
        style="background-image: url('./assets/images/contact-bg.png')">
        <div class="container">

          <form action="" class="contact-form">

            <h2 class="headline-sm" id="contact-label">Ponerse en contacto</h2>

            <p class="contact-text body-md">
              A nuestro amable equipo le encantaría saber de usted.
            </p>

            <div class="wrapper">

              <div>
                <label for="name" class="label">Nombre Completo</label>

                <input type="text" name="name" id="name" placeholder="Nombre Completo *" required class="input-field">
              </div>

              <div>
                <label for="email" class="label">Correo Electronico </label>

                <input type="email" name="email" id="email" placeholder="Correo Electronico *" required class="input-field">
              </div>

            </div>

            <label for="subject" class="label">Asunto</label>
            <input type="text" name="subject" id="subject" placeholder="Asunto *" class="input-field">

            <label for="message" class="label">Tu mensaje </label>
            <textarea name="message" id="message" placeholder="Tu mensaje *" required class="input-field"></textarea>

            <a href="#" class="btn btn-tertiary">Enviar mensaje</a>

          </form>

          <div class="contact-content">

            <ul class="contact-list">

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(177, 39%, 72%)">
                  <ion-icon name="call" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Numero</p>

                  <a href="tel:+011236548096" class="body-lg">+52 273 101 76 32</a>
                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(41, 99%, 64%)">
                  <ion-icon name="mail" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Correo Electronico</p>

                  <a href="tel:info@domainname.com" class="body-lg">drcafe@mail.com</a>
                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(19, 97%, 85%)">
                  <ion-icon name="location" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Ubicacion</p>

                  <address class="body-lg">
                   Ixhuatlan Del Cafe,
                    Mexico
                  </address>
                </div>

              </li>

            </ul>

          </div>

        </div>
      </section>

    </article>
  </main>
  
  <footer class="footer">
    <div class="container">

      <ul class="social-list">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-pinterest"></ion-icon>
          </a>
        </li>

      </ul>

      <p class="text-center">Copyright &copy; 2023 - Desarrollado por Dr. Café.</p>

    </div>
  </footer>