<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <mat-card>
                <mat-card-content>
                        <div class="col-md-12">
                            <div class="row ">
                                <div class="col-md-4 col-lg-4">
                                    <img src="../../../assets/img/robusta.jpg" alt="Imagen" class="imagen-card">
                                </div>
                                <div class="col-md-8 col-lg-8 d-flex justify-content-center">
                                    <div class="info-card">
                                        <h4 class="titulo-card">Número de registro</h4>
                                        <p class="contenido-card">42bc4594</p>
                                        <h3 class="titulo-card">Fecha de registro</h3>
                                        <p class="contenido-card">2023-06-26</p>
                                        <h3 class="titulo-card">Nivel de infección</h3>
                                        <p class="contenido-card bajo">20% Bajo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </mat-card-content>
            </mat-card>
        </div>    
        <div class="col-md-6 padding  mt-5">
            <mat-card>
                <mat-card-content>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="row ">
                                    <div class="col-md-4 col-lg-4">
                                        <img src="../../../assets/img/robusta.jpg" alt="Imagen" class="imagen-card">
                                    </div>
                                    <div class="col-md-8 col-lg-8 d-flex justify-content-center">
                                        <div class="info-card">
                                            <h4 class="titulo-card">Número de registro</h4>
                                            <p class="contenido-card">55f3e4bc</p>
                                            
                                            <h3 class="titulo-card">Fecha de registro</h3>
                                            <p class="contenido-card">2023-06-26</p>
                                            
                                            <h3 class="titulo-card">Nivel de infección:</h3>
                                            <p class="contenido-card medio">50% Medio</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </mat-card-content>
            </mat-card>
        </div>         
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <mat-card>
                <mat-card-content>
                        <div class="col-md-12">
                            <div class="row ">
                                <div class="col-md-4 col-lg-4">
                                    <img src="../../../assets/img/robusta.jpg" alt="Imagen" class="imagen-card">
                                </div>
                                <div class="col-md-8 col-lg-8 d-flex justify-content-center">
                                    <div class="info-card">
                                        <h4 class="titulo-card">Número de registro</h4>
                                        <p class="contenido-card">42bc4594</p>
                                        <h3 class="titulo-card">Fecha de registro</h3>
                                        <p class="contenido-card">2023-06-26</p>
                                        
                                        <h3 class="titulo-card">Nivel de infección</h3>
                                        <p class="contenido-card alto">80% Alto</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </mat-card-content>
            </mat-card>
        </div>    
        <div class="col-md-6 padding  mt-5">
           
        </div>         
    </div>
    
        
</div>