
.text{
    color: black;
}

.grafica{
    margin-left: 330px;
}

.img{
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    width: 750px;
    margin-left: 295px;
}