<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="col-md-12 mt-1 d-flex justify-content-center">
      <div class="content mat-elevation-z8">
        <div class="row">
          <div class="col-md-5 col-lg-5 ">
            <p class="background">
              <img alt="cafe" class="cafe mt-10" src="./../../../assets/img/logo dr. café.png">
            </p>
          </div>
          <div class="col-md-7 col-lg-7 mt-1">
            <img alt="" class="logo mt-10" src="./../../../assets/img/logo dr. café.png">
            <h1 class="text-center">!Bienvenido a Dr CAFÉ!</h1>
              <mat-tab-group class="matmodificad2">
                <mat-tab class="text-color" label="Inicio de sesión">
                  <form [formGroup]="form2">
                    <label for="fname" class="texto-label mt-5">Correo electrónico</label>
                    <input formControlName="correoElectronico" [(ngModel)]="correoElectronico" type="email"
                      class="texto-input mt-2 d-flex justify-content-center" placeholder="Ingresa tu correo aqui"
                      id="fname" name="fname">
                    <label for="lname" class="texto-label mt-3">Contraseña</label>
                    <input formControlName="password" type="password" [(ngModel)]="contrasena"
                      class="texto-input mt-2 justify-content-center" placeholder="Ingresa tu contraseña aqui"
                     >
                    <button class="button" (click)="continuar()">Iniciar sesión</button>
                  </form>
                </mat-tab>
                <mat-tab class="matmodificad2" label="Registro">
                  <form [formGroup]="form">
                        <label for="fname" class="texto-label mt-2">Nombre</label>
                        <input formControlName="nombre" type="text"
                          class="form-control texto-input mt-2 d-flex justify-content-center"
                          placeholder="Ingresa tu nombre aqui">
                        <label for="lname" class="texto-label mt-2">Apellidos</label>
                        <input formControlName="apellidos" type="text" class="texto-input mt-2 justify-content-center"
                          placeholder="Ingresa tus apellidos aqui" [(ngModel)]="apellidos">
                        <label for="lname" class="texto-label mt-2">Fecha de nacimiento</label>
                        <input
  formControlName="fechaNacimiento"
  type="date"
  class="texto-input mt-2 justify-content-center"
  (change)="formatDate($event)"
  [ngModel]="fechaNacimiento | date:'yyyy-MM-dd'"
>"


                          <label class="texto-label mt2" id="example-radio-group-label">Elige tu sexo</label>
                          <mat-radio-group [(ngModel)]="sexo" value="hombre" aria-label="Select an option">
                            <mat-radio-button  class="texto-input" value="hombre">Hombre</mat-radio-button>
                            <mat-radio-button value="mujer">Mujer</mat-radio-button>
                          </mat-radio-group>            
                        <label for="lname" class="texto-label mt-2">Correo electrónico</label>
                        <input formControlName="correoElectronico" type="email"
                          class="texto-input mt-2 justify-content-center"
                          placeholder="Ingresa tu correo electrónico aqui" [(ngModel)]="correoElectronico">
                        <label for="lname" class="texto-label mt-2">Contraseña</label>
                        <input formControlName="contrasena" type="password"
                          class="texto-input mt-2 justify-content-center" placeholder="Ingresa tu contraseña aqui" [(ngModel)]="contrasena"
                          >
                          <label for="lname" class="texto-label mt-2">Confirmar contraseña</label>
                        <input formControlName="confirmarContrasena" type="password"
                          class="texto-input mt-2 justify-content-center" placeholder="Ingresa tu contraseña aqui" [(ngModel)]="contrasenaConfirm"
                          >
                          <button class="button" (click)="registrarse()">Registrarme</button>                     
                  </form>
                </mat-tab>
              </mat-tab-group>           
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>