
  mat-sidenav-container{
    height: calc(100vh);
    background-color: #eeeeee;
    color: #071000;

  }
  .content{
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    width: 80%;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
  .avatar{
    margin-top: 1px;
    width: 250px;
    height: 250px;
 
  }
  
  .logo{
    position: relative;
    left: 3%;
    right: 20%;
  }

  .contenido{
    background-color: #071000;
    color: #071000;
  }
  
  .btn-success{
    color: white;
    background-color: green;
    width: 170px;
    height: 40px;
    border-style: double;
  }

  .text-center{
    align-items: center;
    position: center;
  }

  .title{
    font-weight: bold;
  }

  .custom-tab-group{
    
    color: black !important; /* Cambiar el color del texto de los títulos a negro */
  }
  .custom-tab-group .mat-ink-bar {
    color: #000000 !important;
    background-color: black !important; /* Cambiar el color de la línea de abajo a negro */
  }
  .texto-input{
    color: #071000 !important;
  }
  .style-input{
    width: 600px;
  }

  .background{
    //background-color: green;
    background: linear-gradient(#4f5e41,rgb(53, 160, 53) );
    border-radius: 10px;
    height: 695px;
  }

  .mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

  .cafe{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    align-items: center;
    display: block;
    margin: auto;
  }

.grande{
  font-size: 20px;
}

.mat-mdc-tab-group , .mat-mdc-tab-nav-bar{
  background-color: #ffffff !important;
  color: #071000 !important;
  --mat-tab-header-active-hover-label-text-color: #000000 !important;
    --mat-tab-header-active-indicator-color: #4f5e41 !important;
    --mat-tab-header-active-hover-indicator-color: #4f5e41 !important;
    --mat-tab-header-active-label-text-color: #000000 !important;
    --mat-tab-header-active-ripple-color: #4f5e41!important;
    --mat-tab-header-inactive-ripple-color: #4f5e41 !important;
    --mat-tab-header-pagination-icon-color: #4f5e41;
    --mat-tab-header-inactive-label-text-color: rgb(0 0 0 / 60%);
    --mat-tab-header-active-focus-indicator-color: #4f5e41 !important;
    --mat-tab-header-active-focus-label-text-color: #4f5e41 !important;
    --mdc-tab-indicator-active-indicator-color: #4f5e41 !important;
    --mdc-tab-indicator-focus-indicator-color: #4f5e41 !important;
    --mat-tab-header-inactive-focus-label-text-color: rgba(61, 96, 0, 0.6) !important;
    --mat-tab-header-inactive-hover-label-text-color: rgba(68, 108, 0, 0.6) !important;
}


.mat-mdc-form-field-infix {
  flex: auto;
  min-width: 0;
  width: 180px;
  position: relative;
  box-sizing: border-box;

}

#mi-componente::ng-deep .mat-form-field-label {
  color: #F60 !important;
}