<div class="container">
    <div class="row d-flex justify-content-center text texto-centrado mt-4">
        <mat-card class="background">
            <mat-card-content>
                <div class="col-md-12">
                    <img alt="img" class="img" src="../../../assets/img/arabica.jpg">
                </div>
                <div class="col-md-12 mt-2">
                    <h1 class="titulo-card">Número de registro</h1>
                    <h2 class="contenido-card">42bc4594</h2>
                    <h1 class="titulo-card">Fecha de registro</h1>
                    <h2 class="contenido-card">2023-06-26</h2>
                    <h1 class="titulo-card">Nivel de infección</h1>
                    <h2 class="contenido-card bajo">10% Bajo</h2>
                </div>
                <div class="col-md-12 mt-2">
                    <h1 class="titulo-card">Recomendación</h1>
                    <h2 class="contenido-card">No hay recomendación debido al nivel de infección detectado en la hoja</h2>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>